html {
    background-color: rgb(210, 200, 221);
}

header {
    background-color: #877d72;
    width: 95%;
    height: 10%;
}

label {
    display: block;
}

header h1 {
    display: inline;
}

header #headshot {
    width: 100px;
    height: 100px;
}